<div class="row mt-1 my-3">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <div class="class-macarte monshadow myborder p-4">
            <div class="row">
                <div class="col-md-12">
                      <h3 class="fontCentury text-uppercase monshadow bg-info border border-dark border-r-15 p-2">Formation</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <app-formation></app-formation>
                </div>
                
            </div>
        </div>
        <div class="col-md-1"></div>
    </div>
</div>
