<div class="row p-2 mr-3 fontCentury">
    <div class="col-md-12 ">
       <div class="row mb-3 border border-dark border-r-15 p-1 bg-light">
           <div class="col-md-6">
               <h5>Nom et prénom:</h5>
           </div>
           <div class="col-md-6">
               <h5>{{nom_prenom}}</h5>
           </div>
       </div>
       <div class="row mb-3 border border-dark border-r-15 p-1 bg-light">
        <div class="col-md-6">
            <h5>Age:</h5>
        </div>
        <div class="col-md-6">
            <h5>{{age}}</h5>
        </div>
    </div>
    <div class="row mb-3 border border-dark border-r-15 p-1 bg-light">
        <div class="col-md-6">
            <h5>Email:</h5>
        </div>
        <div class="col-md-6">
            <h5>{{email}}</h5>
        </div>
    </div>
    <div class="row mb-3 border border-dark border-r-15 p-1 bg-light">
        <div class="col-md-6">
            <h5>Tél:</h5>
        </div>
        <div class="col-md-6">
            <h5>{{tel}}</h5>
        </div>
    </div>
    <div class="row mb-3 border border-dark border-r-15 p-1 bg-light">
        <div class="col-md-6">
            <h5>Profil:</h5>
        </div>
        <div class="col-md-6">
            <h5>{{profil}}</h5>
        </div>
    </div>
    </div>
</div>